@-webkit-keyframes slide {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes pop-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes upTo {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes topDown {
    from {
        top: 0;
    }
    to {
        top: 24px;
    }
}

@keyframes edu-animation {
    0% {
        transform: translateX(-52%) translateY(0) scale(1.2);
    }
    45% {
        transform: translateX(-52%) translateY(0) scale(1.7);
    }
    60% {
        transform: translateX(-52%) translateY(0) scale(1.9);
    }
    100% {
        transform: translateX(-52%) translateY(0) scale(1.2);
    }
}

@keyframes skill-progress {
    0% {
        width: 10%;
    }
    100% {
        width: var(--percent);
    }
}

@keyframes nav-animaton {
    from {
        transform: skewX(-25deg) translateX(-110%);
    }
    to {
        transform: skewX(-25deg) translateX(100%);
    }
}

@keyframes html-load {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes content-load {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.social-links-profile:hover .social-links__facebook,
.social-links-profile:hover .social-links__insta,
.social-links-profile:hover .social-links__tiktok,
.social-links-profile:hover .social-links__discord {
    display: block;
}

.social-links-name:hover .discord {
    color: white;
    background-color: rgb(12, 145, 212);
}

.facebook:hover {
    color: white;
    background-color: rgb(12, 145, 212);
}

.instagram:hover {
    color: white;
    background-color: rgb(235, 109, 130);
}

.tiktok:hover {
    color: white;
    background-color: black;
}

.discord:hover {
    color: white;
    background-color: blue;
}


/* navbar */

.nav-name:hover {
    background-image: linear-gradient(to right, #4568dc, #607de4, #7992ec, #92a7f3, #aabcf9);
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset
    /* box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset; */
}

.nav li:hover::after {
    display: block;
}


/* content */

.school-name:hover,
.pop-up:hover {
    opacity: .5;
    color: black;
}


/*  */