.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.none {
  display: none !important;
}

:root {
  --pri-background-color: #eee;
  --border-radius: 20px;
  --percent: 100%;
  --skill-name: "JS";
  --skill-percent: "100%";
  /* animation */
  --animation-process: skill-progress 2s forwards;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify !important;
}

body {
  background-image: linear-gradient(
    to right,
    #ddd6f3,
    #e6cbea,
    #f1bfda,
    #f9b4c3,
    #faaca8
  );
}

a {
  color: #000;
}

.ml {
  margin-left: 190px !important;
}

.mt-32 {
  margin-top: 32px;
}

.active {
  display: block !important;
  transition: opacity 2s;
}

.active-nav {
  background-image: linear-gradient(
    to right,
    #4568dc,
    #607de4,
    #7992ec,
    #92a7f3,
    #aabcf9
  );
}

/* Heading */

.heading {
  /* background-color: antiquewhite; */
  position: absolute;
  width: 100%;
  height: 268px;
  display: flex;
  justify-content: center;
}

.heading .social {
  position: absolute;
  display: flex;
  /* background-color: rgba(255, 255, 255, 0.7);
  background-color: var(--pri-background-color); */
  background-image: linear-gradient(
    to right,
    #e55d87,
    #cf79c2,
    #a098e7,
    #6fb1f0,
    #5fc3e4
  );
  top: 50px;
  width: 990px;
  padding: 30px;
  border-radius: var(--border-radius);
  /* justify-content: space-around; */
}

/* Heading left */

.social-info {
  display: flex;
  left: 0;
  /* width: 50%; */
  flex-basis: 50%;
}

.social-profile {
  position: absolute;
  right: 0;
}

.social-avt-img {
  width: 160px;
  height: auto;
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.social-heading-info {
  padding: 0 24px;
}

.social-name {
  font-size: 28px;
  font-weight: bold;
}

.social-job {
  display: flex;
  padding-top: 8px;
}

.social-job-name {
  margin-left: 8px;
  color: #ffffffe3;
}

.social-links-list {
  display: flex;
  margin-top: 46px;
  text-align: center;
  /* padding: 0 30px; */
}

.social-links-profile {
  list-style: none;
  padding: 0px 2px;
  font-size: 16px;
}

.social-link-embed {
  background-color: aliceblue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px !important;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.facebook {
  color: rgb(12, 145, 212);
}

.instagram {
  color: rgb(235, 109, 130);
}

.tiktok {
  color: black;
}

.discord {
  color: blue;
}

.social-links-name {
  position: absolute;
  bottom: 42%;
  font-size: 14px;
  /* display: none; */
}

.social-links__facebook,
.social-links__insta,
.social-links__tiktok,
.social-links__discord {
  color: white;
  padding: 4px 8px;
  border-radius: var(--border-radius);
  margin-bottom: 8px;
  animation: upTo linear 0.15s;
  cursor: pointer;
  display: none;
}

.social-links__facebook {
  background-color: rgb(12, 145, 212);
  left: 198px;
}

.social-links__insta {
  background-color: rgb(235, 109, 130);
  left: 242px;
}

.social-links__tiktok {
  background-color: black;
  left: 296px;
}

.social-links__discord {
  background-color: blue;
  left: 336px;
}

.social-links__facebook::after {
  display: block;
  content: "";
  position: absolute;
  top: 24px;
  left: 30px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: rgb(12, 145, 212) transparent transparent transparent;
}

.social-links__insta::after {
  display: block;
  content: "";
  position: absolute;
  top: 24px;
  left: 30px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: rgb(235, 109, 130) transparent transparent transparent;
}

.social-links__tiktok::after {
  display: block;
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: black transparent transparent transparent;
}

.social-links__discord::after {
  display: block;
  content: "";
  position: absolute;
  top: 24px;
  left: 24px;
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: blue transparent transparent transparent;
}

/* heading right */

.social-profile {
  position: relative;
  padding: 0 24px;
  border-left: 1px solid black;
  flex-basis: 50%;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 14px;
}

.profile-info-born {
  margin-left: 105px;
}

.profile-info__name {
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}

.profile-info__desc {
  color: black;
}

/* Body */

.body {
  width: 100%;
  position: absolute;
  top: 316px;
  display: flex;
  justify-content: center;
}

.body-contains {
  display: flex;
  width: 990px;
}

/* Thanh navbar */

.nav-fixed {
  display: flex;
  max-height: 544px;
  position: fixed;
  top: 24px;
  animation: topDown 0.5s ease;
}

.nav {
  display: flex;
  max-height: 544px;
}

.nav-list {
  padding: 16px;
  list-style: none;
  /* background-color: var(--pri-background-color); */
  background-image: linear-gradient(
    to right,
    #e55d87,
    #cf79c2,
    #a098e7,
    #6fb1f0,
    #5fc3e4
  );
  border-radius: var(--border-radius);
}

.nav-name {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  margin: 24px 0;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  border-radius: var(--border-radius);
  min-width: 118px;
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  overflow: hidden;
  transition: all 0.4s;
}

.nav li::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(100deg, rgba(1, 1, 1, 0) 30%, white);
  display: none;
  animation: nav-animaton 1.5s forwards;
}

.nav-icons {
  font-size: 34px;
  padding-bottom: 4px;
  color: black;
}

.nav-desc {
  text-align: center;
}

/* Content */

.content {
  margin-left: 40px;
  /* background-color: var(--pri-background-color); */
  background-image: linear-gradient(
    to right,
    #e55d87,
    #cf79c2,
    #a098e7,
    #6fb1f0,
    #5fc3e4
  );
  border-radius: var(--border-radius);
  padding: 30px 30px;
  display: none;
  width: 100%;
  animation: content-load 2s;
}

.content-name {
  font-size: 28px;
  margin-bottom: 24px;
  font-weight: bolder;
}

p {
  margin-bottom: 12px;
}

.school-name {
  text-decoration: none;
  color: orangered;
  font-weight: bolder;
  text-shadow: 0 0 10px aqua;
}

.content-desc {
  line-height: 1.3;
}

.content-title {
  margin-bottom: 16px;
  font-size: 24px;
  display: flex;
}

.sub-title {
  font-weight: 550;
  text-transform: capitalize;
  font-size: 21px;
}

/* Education */

.edu {
  padding: 0 0 28px 16px;
  border-left: 1px dashed #aaa;
  position: relative;
}

.edu:last-child {
  border: 0;
}

.edu::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background-color: #94b1f0;
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
  animation: edu-animation 3s infinite;
}

.edu::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #4568dc;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  border-radius: var(--border-radius);
}

.edu-title {
  transform: translateY(-5px);
  font-size: 16px;
  font-weight: 600;
}

.edu-subtitile {
  margin: 24px 0;
  padding: 0 12px;
}

.edu-time {
  padding-bottom: 8px;
  color: #ffffffe3;
  margin-top: -5px;
  font-size: 14px;
  font-weight: 700;
}

.edu-desc {
  text-align: justify;
  line-height: 1.4;
}
.edu-desc ul li {
  padding-left: 10px;
}
.content-desc .content-game + .content-game {
  margin-top: 24px;
}

/* skill */

.edu-skill-percent {
  width: 100%;
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 24px;
}

.skill-percent {
  width: 100%;
  height: 24px;
  background-color: aquamarine;
  border-radius: var(--border-radius);
  position: relative;
}

.edu-skill-percent .skill-percent + .skill-percent {
  margin-top: 24px;
}

.skill-percent::after {
  padding-right: 8px;
  content: var(--skill-percent);
  color: white;
  text-align: right;
  background: linear-gradient(135deg, #009fff, #ec2f4b);
  height: 24px;
  display: block;
  position: absolute;
  width: var(--percent);
  border-radius: var(--border-radius);
  animation: var(--animation-process);
  font-size: 12px;
  line-height: 24px;
}

.skill-percent::before {
  content: var(--skill-name);
  position: absolute;
  z-index: 10;
  padding-left: 12px;
  color: white;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}

/* SlideShow */

.slide-list {
  background: linear-gradient(0, #e1eec3, #f05053);
  height: 200px;
  border-radius: var(--border-radius);
  position: relative;
  /* overflow: hidden; */
}

.slide-content {
  position: relative;
  overflow: hidden;
  /* -webkit-animation: slide 14s ease infinite; */
}

.slide-item_loading {
  position: absolute;
  top: 100px;
  left: 40%;
  z-index: 99;
}

.slide-item {
  /* position: absolute; */
  display: flex;
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  align-items: center;
  padding: 12px 36px;
  -webkit-animation: slide 4s ease infinite;
  /* display: none; */
}

.slide-info {
  padding-left: 24px;
}

.slide-info-name {
  transform: translateY(-50%);
}

.slide-info-desc {
  /* padding-top: 8px; */
}

.slide-avt-img {
  width: 90px;
  min-width: 90px;
  height: 90px;
  border-radius: var(--border-radius);
}

/* Favorite */

.game-list {
}

.game-1 {
  background-color: #dfeef2;
  border-radius: var(--border-radius);
  padding: 20px;
  margin-bottom: 12px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  transition: all 0.4s;
}

.game-1:hover {
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.game-link {
  display: flex;
  text-decoration: none;
  color: black;
}

.ent-img {
  width: 100%;
  min-width: 150px;
  max-width: 200px;
  height: 150px;
  border-radius: var(--border-radius);
}

.game-icon {
  color: #000;
  font-size: 30px;
  padding: 0 8px 0 0;
}

.game-content {
  margin-left: 16px;
}

.game-name {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
}

/* movie */

.content-movie {
  margin-top: 40px;
}

.pop-up {
  cursor: pointer;
  text-shadow: 0 0 10px cyan;
  font-weight: bolder;
  color: orangered;
}

.nhac {
  width: 240px;
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 9999;
  top: 50px;
  left: 35%;
  display: none;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 4px 8px 4px 4px;
}

.nhac-name {
  position: absolute;
  top: 45%;
}

.play-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  margin: 8px 0;
}

/* html loading */

.html-loading {
  background-color: #553b3b9e;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 1500px;
  animation: html-load 1s;
}

.loading-text {
  position: fixed;
  top: 42%;
  left: 42%;
  font-size: 54px;
}
